---
import "@fortawesome/fontawesome-free/css/all.css";
---

<footer class="text-white">
  <div
    class="w-full border-t border-gray-700 mx-auto px-4 sm:px-6 lg:px-24 py-8"
  >
    <div class="grid grid-cols-2 md:grid-cols-4 gap-8">
      <div>
        <h3 class="text-lg font-semibold mb-4">Products</h3>
        <ul class="space-y-4 text-gray-400">
          <li>
            <a
              href="https://mett.memhiret.com"
              target="_blank"
              class="hover:underline">METT App</a
            >
          </li>
          <li>
            <a href="/coming-soon" class="hover:underline">METT Classrooms</a>
          </li>
        </ul>
      </div>

      <div>
        <h3 class="text-lg font-semibold mb-4">Support</h3>
        <ul class="space-y-4 text-gray-400">
          <li><a href="/404" class="hover:underline">Help</a></li>
          <li><a href="/404" class="hover:underline">Blog</a></li>
          <li>
            <a href="/account/data" class="hover:underline"
              >Request for Deletion</a
            >
          </li>
        </ul>
      </div>
      <div>
        <h3 class="text-lg font-semibold mb-4">Company</h3>
        <ul class="space-y-4 text-gray-400">
          <li>
            <a href="/careers" class="hover:underline">Careers</a>
          </li>

          <li>
            <a href="/partnerships" class="hover:underline">Partnerships</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="text-center border-t border-gray-700 mx-auto px-4 sm:px-6 lg:px-24 py-8"
  >
    <div
      class="flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-8"
    >
      <div>
        <img
          src="/imgs/Memhir_LogoType_01-05.png"
          alt="METT Logo"
          class="h-8 sm:h-12 w-auto"
        />
      </div>
      <div class="flex flex-wrap justify-center gap-12">
        <a
          href="https://www.instagram.com/memhiret_?igsh=MmV1amFtZW92bHdj"
          target="_blank"
          class="hover:text-gray-400"
        >
          <i class="text-2xl fa-brands fa-instagram"></i>
        </a>
        <a
          href="https://vm.tiktok.com/ZMkMQ1Pv7/"
          target="_blank"
          class="hover:text-gray-400"
        >
          <i class="text-2xl fa-brands fa-tiktok"></i>
        </a>
        <a
          href="https://www.linkedin.com/company/memhir-et/"
          target="_blank"
          class="hover:text-gray-400"
        >
          <i class="text-2xl fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div
      class="flex flex-col sm:flex-row justify-between items-center gap-4 sm:gap-8 mt-8"
    >
      <p class="text-gray-400">MemhirET Software Technologies © 2024</p>
      <p class="text-gray-400 flex gap-4">
        <a href="/terms" class="hover:underline">Terms of use</a>
        <span class="hidden sm:inline">|</span>
        <a href="/privacy" class="hover:underline">Privacy Policy</a>
      </p>
    </div>
  </div>
</footer>
