---

---

<div class="w-full min-h-screen flex items-center justify-center">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-20">
    <div class="flex flex-col items-center text-center mt-16 md:mt-0">
      <div class="flex flex-col items-center space-y-12">
        <h1
          class="text-4xl md:text-6xl lg:text-7xl font-bauhaus font-bold text-memhirETWhite-500 max-w-4xl leading-tight opacity-0 animate-fade-up"
        >
          Making World - Class Education Accessible
        </h1>

        <p
          class="font-body text-lg md:text-xl text-gray-300 max-w-2xl leading-relaxed opacity-0 animate-fade-up [animation-delay:400ms]"
        >
          Building innovative learning solutions that empower schools and
          transform education for the next generation.
        </p>

        <div class="flex gap-4">
          <a
            href="#products"
            class="px-12 py-4 border-2 border-gray-400 text-memhirETWhite-500 font-body rounded-lg hover:bg-memhirETBlue-500 transition-all text-base"
          >
            Explore
          </a>
          <a
            href="/story"
            class="px-12 py-4 bg-memhirETBlue-500 text-white font-body rounded-lg hover:bg-memhirETBlue-700 transition-all text-base"
          >
            About Us
          </a>
        </div>
      </div>

      <div class="mt-24 w-full">
        <p
          class="text-memhirETWhite-500/60 font-body text-sm uppercase tracking-wider mb-8"
        >
          Trusted By Leading Institutions
        </p>
        <div
          class="flex flex-wrap justify-center items-center gap-8 md:gap-12 lg:gap-24"
        >
          <img
            src="/imgs/mald-edit.png"
            alt="MALD School Logo"
            class="h-24 md:h-28 w-auto opacity-70 hover:opacity-100 transition-opacity hover:grayscale-0"
          />
          <img
            src="/imgs/eps-edit.png"
            alt="Ethio-Parents' School Logo"
            class="h-24 md:h-18 w-auto opacity-70 hover:opacity-100 transition-opacity brightness-0 invert"
          />
          <img
            src="/imgs/savior-edit.png"
            alt="Super Holy Savior School Logo"
            class="h-24 md:h-28 w-auto opacity-70 hover:opacity-100 transition-opacity hover:grayscale-0"
          />
          <img
            src="/imgs/liba-edit.png"
            alt="Legetafo Innovative Boaring Academy Logo"
            class="h-24 md:h-28 w-auto opacity-70 hover:opacity-100 transition-opacity hover:grayscale-0"
          />
        </div>
      </div>
    </div>
  </div>
</div>
